<div class="portfolio">
    <h2>My Projects</h2>
    <div class="projects">
        <div class="project-card">
            <img src="src\app\components\Assets\khanyi.jpg" alt="New York City Taxi Trip Duration">
            <h3>New York City Taxi Trip Duration</h3>
            <p>The New York City Taxi Duration Prediction project aims
                to predict the duration of taxi trips in the city.</p>

            <p>Leveraging historical taxi trip data, including drop-off location,
                timestamps, and other relavant features, machine learning models are
                developed to forecast the duration of future taxi rides accurately. </p>

            <p>by understanding and predicting taxi trip durations, this project
                contributes to improving transportation efficiency, optimizing route
                planning, and enhancing overall user experiencefoe taxi"+
                passengers and drivers in New York City.</p>
            <a href="https://github.com/khanyi26/NYC-Taxi-Trip-Duration-" target="_blank">View Project</a>
        </div>

        <div class="project-card">
            <img src="src\app\components\Assets\khanyi.jpg" alt="Sport Complex Booking System">
            <h3>Sport Complex Booking System</h3>
            <p>The Sport Complex Booking System project aims to develop a comprehensive
                database solution for managing bookings and reservations at a sport complex.
                the system facilitates the efficient scheduling of various sports facilities,
                such as courts, fields, or gymnasiums, allowing users to reserve slots for
                their desired activities.</p>
            <a href="https://github.com/khanyi26/Database-Projects" target="_blank">View Project</a>
        </div>

        <div class="project-card">
            <img src="src\app\components\Assets\khanyi.jpg" alt="Machine Learning Projects">
            <h3>Machine Learning Projects</h3>
            <p>Machine Learning Projects contains both classification and regression tasks,
                for both classification and regression datasets the baseline models offer simplicity
                and ease of interpretation, the k-NN models provide a more flexible and data-driven
                approach for both classification and regression tasks.</p>
            <a href="https://github.com/khanyi26/Machine-learning" target="_blank">View Project</a>
        </div>
    </div>
</div>
