<div class="about">
    <h2>About Khanyisa</h2>
    <h3><b>Full Name: Khanyisa Sinnah Michelle Ndima </b></h3>
    <h3><b>Age:</b>28</h3>
    <p><span class="highlight">Education:</span>BSc Computer Science and Statistics</p>
    <p><span class="highlight">Alma Mater:</span> University of Limpopo</p>
    <br>

    <p>Khanyisa Ndima is a dynamic and motivated professional with strong academic foundation in Computer Science and Statistics, obtained from the Universityof Limpopo. With a robust understanding of data analysis, algorithm development, and Statistical modeling, Khanyisa has honed these skells through acomprehensive Data Science Learnership.</p>
    <br>
    <p>During the learnership, Khanyisa engaged in real-world projects that involved data wrangling, predictive modeling, and machine learning, showcasing an ability to translate complex data into actionable insights. Khanyisa is adept at leveraging tools such as Python, R, and SQL to solve intricate problems and drive business outcomes.</p>
    <br>
    <p>With a passion for continuous learning and innovation, Khanyisa is committed to staying at the forefront of techmology trends and is particularly interested in the intersection of data science and web development. This unique blend of skils positions Khanyisa as a versatile professional, capable of contributing to diverse projects that require both analytical and programming expertise.</p>
    <br>
    <p>Khanyisa is eager to bring this skill set to new challenges and opportunities, contributing to impactful projects that push the boundaries of what data and technology can achieve.</p>

</div>
