<nav> 
  <ul>
    <!--<li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" >Home</a></li>
    <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>
    <li><a routerLink="/portfolio" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a></li>-->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact</a>
  </ul> 
</nav>
<body>
  
</body>
<router-outlet></router-outlet>








   


       